@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@layer base {
  body {
    @apply font-[Raleway]
  }
  li {
    @apply px-4;
    @apply cursor-pointer

  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(to right, rgba(216, 195, 165, 0.9), hsla(6.2, 72.7%, 68.4%, 0.8))!important;
}